.order{
  box-sizing: border-box;
  font-size: 17px;
  padding: 8px 8px 8px 30px;
  margin-bottom: 15px;
}
h1{
  text-align: center;
}
.nhi {
  width: 130%;
  margin-left: 10px;
}
.col-50{
  padding: 0 16px;
  flex: 50%;
}
.nhi .pay{
  display: inline-flex;
  width: 50%;
}
.pay .checkmark{
  margin-left: 10px;
}
.contain {
  background-color: #f2f2f2;
  border: 1px solid lightgrey;
  border-radius: 3px;
  display: inline-flex;
  width: 49%;
  margin-right: 10px;
  margin-bottom: 10px;
}
input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
label {
  margin-bottom: 10px;
  display: block;
}
.icon-contain {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
.xac {
  background-color: #4CAF50;
  color: white;
  margin: 10px 16px;
  border: none;
  width: 93%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  height: 40px;
}
.xac:hover {
  background-color: #45a049;
}
a {
  color: #2196F3;
}
hr {
  border-color: lightgrey;
}
.col-50 .price {
  float: right;
}
.col-50 .hoadon{
  display: flex;
  position: relative;
  margin: -10px 0px;
}
.hoadon .size{
  position: absolute;
  margin-bottom: 10px;
  left: 25%;
  font-size: 20px;
  color: darkred;
  top: 10%;
}
.hoadon .size i{
  font-size: 16px;
  color: rgb(56, 56, 56);
}
.col-50 .hoadon img{
  width: 110px;
}
@media (max-width: 800px) {
  .nhi {
    flex-direction: column-reverse;
  }
}