*{
    margin: 0;
    padding: 0;
}
.bia{
    background-color: rgb(178, 40, 48);
    position: relative;
    padding: 12px 8em 0px;
}
header{
    margin:0 auto;
    padding: 0 auto;
    align-items: center;
    justify-content: space-between;
}
header .menu .tren{
    display: flex;
    float: right;
    margin-top: -50px;
}
header .logo1 img{
    font-size: 100%;
    min-height: 60px;
}
.menu .tren .search{
    margin-right: 20px;
}
.tren .search input{
    height: 30px;
    width: 270px;
    background-color: white;
    border: none;
    padding: 0px 30px 0px 10px;
    position: relative;
    outline: none;
}
button {
    padding: 0;
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.menu .tren .flag{
    margin-right: 10px;
    padding-top: 3px;
    opacity: 0.7;
    transform: scale(0.9);
    overflow: hidden;
}
.menu .tren .flag:hover{
    transform: scale(1);
    opacity: 1;
}
.search button{
    padding-right: 17em;
    top: 30px;
}
.search button i{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: white;
    color: darkgray;
}
.menu .duoi{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-left: 185px;
    margin-top: -20px;
}
.menu .duoi .ngang{
    list-style: none;
    display: flex;
}
.duoi ul li{
    margin-right: 10px;
    padding: 10px 17px;
    display: inline-block;
}
.menu-duoi:hover, .menu-list:hover{
    background-color: rgb(84, 56, 44);
    transition: 0.4s all linear;
}
.menu-list{
    margin-right: 0;
}
.duoi ul li a{
    font-weight: bolder;
    text-decoration: none;
    color: whitesmoke;
    font-size: 17px;
    line-height: 25px;
}
.res{
    max-width: 1200px;
}
.row{
    display: none !important;
    position: absolute;
    left: 0;
    right: 0;
    background: #53382c;
    padding: 15px 125px;
    margin: 10px 0px 0px;
    z-index: 100;
}
.ngang .menu-duoi:hover .row{
    display: block !important;
}
.row .col-sm-2 ul{
    display: block;
    text-align: center;
    width: 100%;
    list-style: none;
}
.col-sm-2 ul li{
    margin-right: 0;
    padding: 5px 0;
    display: block;
}
.col-sm-2 ul i{
    color: white;
    display: flex;
    margin-bottom: -16px;
    opacity: 0;
}
.col-sm-2 ul li:hover i{
    opacity: 1;
    transition: 0.4s;
}
.col-sm-2 ul li:hover .name{
    margin-left: 10px;
    transition: 0.4s;
}
.row .col-sm-2 .kind{
    color: #f1bc7a;
}
.row .col-sm-2 .kind:hover{
    color: white;
    transition: 0.4s;
}
.row .col-sm-2 ul li .name{
    text-transform:capitalize;
    font-weight: normal;
    font-size: 14px;
}
.banner{
    background-image: url(https://www.highlandscoffee.com.vn/skins/default/images/bgmenu.jpg);
    padding: 15px 15px;
}
.banner .text{
    color: #f1bc7a;
    text-transform:capitalize;
    font-size: 25px;
    font-weight: bolder;
    padding-right: 10px;
}
.banner .text:hover{
    color: white;
    transition: 0.4s;
}
.banner .imga img{
    margin-top: 20px;
    width: 100%;
}
.col-sm-3 ul{
    list-style: none;
    margin-top: -5px;
}
.row .col-sm-3 .kind{
    color: #f1bc7a;
    padding-left: 20px;
}
.row .col-sm-3 .kind:hover{
    color: white;
    transition: 0.4s;
}
.col-sm-3 ul li .name{
    text-transform:capitalize;
    font-weight: normal;
    font-size: 14px;
}
.col-sm-3 ul li i{
    color: white;
    opacity: 0;
    margin-right: 20px;
}
.col-sm-3 ul li:hover i{
    opacity: 1;
    transition: 0.4s;
}
.col-sm-3 ul li:hover .name{
    margin-left: 5px;
    transition: 0.4s;
}