.tra{
  margin-top: -20px;
  margin-bottom: 30px;
}
.cate{
  background: #fbedd7;
  padding: 50px 120px 80px;
}
.cate .vang{
  display: inline-flex;
}
.cate .vang .col-8{
  padding: 0;
}
.cate .col-8 p{
  margin: 5px 37px 27px 0;
}
.tra .cate .title{
  text-align: left;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  color: #53382c;
}
.col-8 .hang{
  text-decoration: none;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  width: 14em;
  text-align: center;
  height: 40px;
  border-radius: 4px;
  color: rgb(178, 40, 48);
  border: 1px solid rgb(178, 40, 48);
  transition: 0.3s all linear;
}
.col-8 .hang:hover{
  color: aliceblue;
  background-color: rgb(178, 40, 48);
}
.cate .col-4 .item .anh{
  margin-right: 15px;
  width: 100%;
}
.cate .col-4 .item .anh img{
  width: 100%;
  transition: 0.3s all linear;
}
.col-4 .item {
  width: 100%;
  display: inline-flex;
  margin-bottom: 20px;
}
.caption h4{
  text-transform: uppercase;
  font-weight: bold;
  color: #53382c;
  font-size: 1.5em;
}
.caption a{
  text-decoration: none;
}
.caption h4:hover{
  color: rgb(178, 40, 48);
  transition: 0.3s all linear;
}
.caption span{
  font-size: 16px;
}