.tra-thanh-dao{
  color: #53382c;
  display: block;
  margin-top: 100px;
  max-width: 750px;
  padding: 0 150px;
  margin-bottom: 50px;
  transition: 0.3s all linear;
}
.traa{
  text-align: left;
  text-transform: uppercase;
  font-weight: bolder;
}
.main{
  display: -webkit-box;
}
.main img{
  border: 1px solid #eeeeee;
  max-width: 100%;
  margin-right: 20px;
  display: block;
  width: 80%;
}
.btn-sm{
  transform: none;
  position: unset;
  margin-right: 5px;
}
#size{
  color: black;
  margin-bottom: 20px;
}
#size::before{
  content: "Size:";
  margin-right: 5px;
}
#size .btn{
  border: 1px solid #c3c3c3;
  cursor: pointer;
  outline: none;
}
#size button:hover{
  border: 1px solid #990033;
  color: #990033;
  background-color: white;
}
#size .active, .btn:hover{
  border: 1px solid #990033;
  color: #990033;
  background-color: white;
}
.price::before{
  content: "Giá: ";
  color: black;
  font-weight: lighter;
}
#myDIV, #myDIV2{
  display: none;
}
.tra-thanh-dao .price{
  font-weight: bold;
}
.tra-thanh-dao .odd{
  list-style: none;
}
.odd{
  display: inline-flex;
  text-align: center;
}
.odd li{
  width: 240px;
  overflow: hidden;
  float: left;
  display: block;
  margin-right: 30px;
}
.odd li img{
  cursor: pointer;
  border: 1px solid #eeeeee;
  outline: none;
  transition: all 0.3s linear;
  width: 100%;
  margin-bottom: 20px;
}
.odd li img:hover{
  transform: scale(1.05);
}
.odd .tentra{
  text-transform: uppercase;
  font-weight: 800;
  color: #53382c;
  text-decoration: none;
  transition: 0.4s;
  font-size: 20px;
}
.odd .tentra:hover{
  color: #990033;
}
.odd .price{
  margin-top: 15px;
}
@media (max-width: 1420px){
  .tra-thanh-dao{
    padding: 0 120px;
  }
}
@media (max-width: 1360px){
  .tra-thanh-dao{
    padding: 80px 110px 50px;
    margin: 0;
  }
}
@media (max-width: 1337px){
  .tra-thanh-dao{
    padding: 80px 100px 50px;
  }
}