.footer{
    background-color: rgb(84, 56, 44);
    padding: 25px 140px;
    color: white;
    width: -webkit-fill-available;
    display: inline-flex;    
    align-items: center;
    font-size: 13px;
}
.footer ul{
    display: inline-flex;
    list-style: none;
    margin-bottom: 0px;
}
.footer .icons .icon{
    text-decoration: none;
    background-color: white;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    transition: all 0.3s linear;
}
.footer ul li:hover{
    margin-top: -2px;
    transition: all 0.3s linear;
}
.icon a i{
    color: rgb(84, 56, 44);
    font-size: 16px;
}
.footer .copyRight{
    margin-left: 20px;
}
.footer a{
    text-decoration: none;
    color: white;
    transition: all 0.3s linear;
    margin-left: 30px;
}
.plane:hover, .envelope:hover{
    color: burlywood;
    text-decoration: none;
}
.plane::after{
    content: "Đăng ký để nhận bản tin";
    margin-left: 10px;
}
.envelope::after{
    content: "customerservice@highlandscoffee.com.vn";
    margin-left: 10px;
}
.footer .icons .icon a{
    margin-left: 0;
}
.footer .btn-info{
    background-color: brown;
    display: none;
}
.footer .btn-info:hover{
    background-color: white;
    color: rgb(84, 56, 44);
}
.footer .btn-info::after{
    content: "VIEW MAP";
    margin-left: 12px;
}
@media (max-width: 1148px){
    .footer{
        padding: 25px 115px;
    }
}
@media (max-width: 1098px){
    .footer{
        padding: 25px 85px;
    }
}
@media (max-width: 1038px){
    .footer{
        padding: 25px 60px;
    }
}
@media (max-width: 991px){
    .footer .btn-info{
        display: inline-block;
        width: 300px;
        height: 45px;
        font-size: 18px;
        margin: 17px;
    }
    .footer .copyRight {
        margin: 15px;
    }
    .footer{
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .footer a{
        display: block;
        margin: 10px;
    }
    .footer .icons .icon{
        padding: 0;
        padding-top: 5px;
    }
    .footer .icons .icon a{
        margin: 0;
    }
}